<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Camping Web</title>
</head>
<body>
  <div id="app">
    <nav>
      <div class="wrapper flex center-horizontal">
        <img src="./assets//logo.svg" alt="">
        <div v-if="!viewPointWidth(0, 1024)" class="menu flex center-horizontal">
          <ul>
            <li class="active"><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">Destination</a></li>
            <li><a href="javascript:void(0)">Near me</a></li>
            <li><a href="javascript:void(0)">Events</a></li>
            <li><a href="javascript:void(0)">Blog</a></li>
            <li><a href="javascript:void(0)">Gallery</a></li>
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">Contact us</a></li>
          </ul>
          <div class="sign flex center-horizontal">
            <a href="javascript:void(0)" class="btn">Sign up</a>
            <a href="javascript:void(0)" class="btn outline">Sign in</a>
          </div>
        </div>
        <a v-if="viewPointWidth(0, 1024)" href="javasccript:void(0)" class="toggle flex-center">
          <img src="./assets/icons/toggle.svg" alt="">
        </a>
      </div>
    </nav>
    <header class="flex-center">
      <div class="main">
        <h1  class="mb">Find Yourself Outside</h1>
        <p>Book unique camping experiences on over 300,000 campsites, cabins, RV parks, public parks and more.</p>
        <a href="javascript:void(0)" class="btn primary fill">Discover</a>
      </div>
    </header>
    <section class="services">
      <div class="card-wrapper">
        <card 
          v-for="service in services"
          :img-url="service.imgUrl"
          :title="service.title"
          :description="service.description"
        >
        </card>
      </div>
    </section>
    <section class="destinations">
      <div class="title-container">
        <img src="./assets/explore.svg" alt="" class="explore">
        <h2 class="responsive">
          Explore Destinations<br>
          & Activities
        </h2>
      </div>
      <div class="card-wrapper">
        <card 
          v-for="destination in renderDestinations"
          :img-url="destination.imgUrl"
          :title="destination.title"
          :description="destination.description"
          :is-item="true"
          :price="destination.price"
          :like="destination.like"
        >
        </card>
      </div>
      <div class="flex center-vertical">
        <a href="javascript:void(0)" class="btn outline primary">View all</a>
      </div>
    </section>
    <section>
      <div class="subscription wrapper">
        <img class="tent mb" src="./assets/tent.svg" alt="">
        <div class="content">
          <h2 class="mb">Let's Stay in Touch</h2>
          <p class="description">Get travel planning ideas, helpful tips, and stories from our visitors delivered right to your inbox.</p>
          <div class="text flex center-horizontal">
            <img class="mail" src="./assets/icons/mail.svg" alt="">
            <input type="text" placeholder="Email Address">
            <a href="javascript:void(0)" class="flex-center send">
              <img src="./assets/icons/send.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer class="cf">
      <div class="wrapper">
        <a href="javascript:void(0)" class="scroll-top flex-center">
          <img src="./assets/icons/arrow-up.svg" alt="">
        </a>
        <div class="container">
          <div class="description mb">
            <h4>Hipcamp is everywhere you want to camp.</h4>
            <p>Discover unique experiences on ranches, nature preserves, farms, vineyards, and public campgrounds across the U.S. Book tent camping, treehouses, cabins, yurts, primitive backcountry sites, car camping, airstreams, tiny houses, RV camping, glamping tents and more.</p>
          </div>
          <div class="footer-menu flex">
            <footer-menu-item v-for="item in footerMenuItems" :title="item.title" :items="item.items" class="mb footer-menu-item"></footer-menu-item>
          </div>
        </div>
        <div class="app mb">
          <h4>Download Our App</h4>
          <div>
            <img src="./assets/download-on-the-app-store-apple.svg" alt="">
            <img src="./assets/google-play-badge.svg" alt="">
          </div>
        </div>
        <p class="copy mb">© 2021. <a href="https://vancityjun.com">Vancityjun</a> All rights reserved.</p>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>
