@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;500&display=swap')

font = 16px "Roboto", Arial
heading = "Archivo Black", Arial
primary-color = #E76F51
font-color = #3B3735

*
  margin: 0
  padding: 0
  border: 0

body
  font: font
  color: font-color
  background: #FAF4F2

h1, h2, h3, h4, h5, h6
  font-family: heading

a
  color: inherit
  text-decoration: none

header
  width: 100%
  height: 100vh
  color: #fff
  .main
    text-align: center

.btn
  font-size: 18px
  font-weight: 500
  padding: 14px 68px
  border-radius: 25px
    
  &.fill
    background: #fff
    &.primary
      background: primary-color

.flex
  display: flex
  &.center-vertical
    justify-content: center
  &.center-horizontal
    align-items: center

