@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;500&display=swap')

font = 16px "Roboto", Arial
heading = "Archivo Black", Arial
primary-color = #E76F51
font-color = #3B3735
font-medium = 18px
border-radius = 20px
shadow = 5px 10px 30px 0

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

body
  font: font
  color: font-color
  background: #FAF4F2

p
  line-height: 1.8

h1, h2, h3, h4, h5, h6
  font-family: heading

h1
  font-size: calc(2.9vw + 33px)

h2
  font-size: 40px
  &.responsive
    font-size: calc(0.8vw + 27px)

h4
  font-size: font-medium

a
  color: inherit
  text-decoration: none

img
  object-fit: cover

section, footer
  padding: 0 20px

section
  margin-bottom: 120px

input
  border: none;
  &:focus
    outline: none;

li
  list-style: none
  line-height: 1.8

nav
  height: 50px
  position: fixed
  left: 0
  top: 20px
  padding: 0 20px
  width: 100%
  justify-content: space-between
  z-index: 1000

  .toggle
    width: 50px
    height: 50px
    border-radius: border-radius
    background: #fff

header
  width: 100%
  height: 100vh
  color: #fff
  background: url(../assets/banner.jpg) no-repeat center
  background-size: cover
  border-radius: 0 0 100px 100px

  .main
    text-align: center

    p
      margin-bottom: 15px

.cf:after {
  content: '';
  display: table;
  clear: both;
}

.btn
  font-size: 18px
  font-weight: 500
  padding: 14px 68px
  border-radius: 25px
  display: inline-block
    
  &.fill
    background: rgba(#8D8D8D .1)
    &.primary
      background: primary-color

  &.border
    color: #fff
    border: 1px solid
    &.primary
      color: primary-color

.flex
  display: flex
  &.center-vertical
    justify-content: center
  &.center-horizontal
    align-items: center

.services
  margin-top: -100px

.mb
  margin-bottom: 40px

.card
  text-align: center
  background: #fff
  border-radius: border-radius
  padding: 40px
  margin-bottom: 20px

  .img-container
    margin-bottom: 10px

  .title
    margin-bottom: 10px

  .thumbnail
    position: relative

    img
      height: 180px
      width: 100%
      border-radius: border-radius
      filter: brightness(0.9) contrast(1.1)

  .like
    background: #fff
    width: 40px
    height: 40px
    border-radius: 14px
    position: absolute
    top: 20px;
    right: 20px;

  .price
    background: #fff
    border-radius 14px
    color: primary-color
    font-weight: 600
    display: inline-flex
    height: 50px
    width: 145px
    margin-top: -50%
    transform: translateY(-50%)
    justify-content: center;
    align-items: center;

  .btn
    color: #8D8D8D
    margin-top: 24px

.title-container
  text-align: center
  margin-bottom: 46px

  .explore
    margin-bottom: 30px

.destinations
  .btn
    margin-top: 16px

.subscription
  background: #F8E1DB
  border-radius: border-radius
  padding: 40px 20px
  box-shadow: shadow rgba(#3b3735 .05)

  .tent
    width: 100%

  .text
    background: #fff
    height 80px
    border-radius: border-radius
    padding: 0 20px
    box-shadow: shadow rgba(#3b3735 .05)

    input
      width: calc(100% - 50px)
      font: 14px "Roboto", Arial

    .send
      background: primary-color
      border-radius: border-radius
      width: 50px
      height: 50px
      box-shadow: shadow rgba(#E76F51 .4)

  .description
    margin-bottom: 26px

footer
  background: #F8E1DB
  position: relative
  border-radius: 22vw 22vw 0 0
  padding-top: 100px

  .mb
    margin-bottom: 52px

  h4
    margin-bottom: 26px

.scroll-top
  background: #fff
  border-radius: border-radius
  width: 60px
  height 60px
  position: absolute
  top: -30px
  right: 50%
  transform: translateX(50%)

.copy
  text-align: center
