@import 'mixin.styl'

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;500&display=swap')

font = 16px "Roboto", Arial
heading = "Archivo Black", Arial
primary-color = #E76F51
font-color = #3B3735
font-medium = 18px
border-radius = 20px
shadow = 5px 10px 30px 0

square(n)
  width: n
  height: n

*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

body
  font: font
  color: font-color
  background: #FAF4F2

p
  line-height: 1.8

h1, h2, h3, h4, h5, h6
  font-family: heading

h1
  font-size: calc(2.3vw + 36px)

h2
  font-size: 40px
  &.responsive
    font-size: calc(0.8vw + 27px)

h4
  font-size: font-medium

a
  color: inherit
  text-decoration: none

img
  object-fit: cover

 .flex-center
  display: flex
  justify-content: center
  align-items: center

section
  margin: 0 20px 120px

.wrapper
  max-width: 1518px
  margin: 0 auto

.card-wrapper
  @extend .wrapper
  +tablet()
    display: flex
    flex-flow: row wrap
    justify-content: space-between

input
  border: none;
  &:focus
    outline: none;

li
  list-style: none
  line-height: 1.8

nav
  height: 50px
  position: fixed
  left: 0
  top: 20px
  padding: 0 20px
  width: 100%
  z-index: 1000
  font-size: 18px

  .wrapper
    @media (max-width: 1024px)
     justify-content: space-between

  .toggle
    square 50px
    border-radius: border-radius
    background: #fff

  .menu
    color: #fff
    justify-content: space-between
    width: calc(100% - 50px)
  
    ul
      display: flex
      flex-direction: row
      justify-content: space-around
      width: calc(100% - 150px - 16vw)
      color: #D2D2D2

      li
        position: relative
        &:after
          transition: .3s
          content: ''
          background: primary-color
          height: 3px
          position: absolute
          width: 100%
          left: 0
          transform: rotate(45deg) scaleX(0)
          top: 50%

        &:hover
          color: #fff
          transition: .3s

        &.active
          color: #fff

          &:after
            transform: rotate(45deg) scale(.8)

    .sign
      justify-content: space-between
      width: 270px
      .btn
        width: 130px

header
  width: 100%
  height: 100vh
  color: #fff
  background: url(../assets/banner.jpg) no-repeat center
  background-size: cover
  border-radius: 0 0 calc(7vw + 70px) calc(7vw + 70px)

  .main
    text-align: center
    max-width: 580px

    p
      margin-bottom: 15px

.cf:after {
  content: '';
  display: table;
  clear: both;
}

.btn
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: 18px
  font-weight: 500
  height 50px
  width: 205px
  border-radius: 25px
    
  &.fill
    background: rgba(#8D8D8D .1)
    &.primary
      background: primary-color

  &.outline
    color: #fff
    border: 1px solid
    &.primary
      color: primary-color

.flex
  display: flex

  &.center-vertical
    justify-content: center

  &.center-horizontal
    align-items: center

.services
  margin-top: -100px

.mb
  margin-bottom: 40px

.card
  text-align: center
  background: #fff
  border-radius: border-radius
  padding: 43px 40px
  margin-bottom: 20px
  min-width: 304px
  min-height: 312px

  +tablet()
    width: calc(50% - 10px)
  +desktop()
    width: calc(25% - 22px)

  .img-container
    margin-bottom: 10px

  .title
    margin-bottom: 10px

  .thumbnail
    position: relative

    >img
      height: 180px
      width: 100%
      border-radius: border-radius
      filter: brightness(0.9) contrast(1.1)

  .like
    background: #fff
    square 40px
    border-radius: 14px
    position: absolute
    top: 20px
    right: 20px
    z-index: 10

  .price
    background: #fff
    border-radius 14px
    color: primary-color
    font-weight: 600
    display: inline-flex
    height: 50px
    width: 145px
    margin-top: -50%
    transform: translateY(-50%)
    justify-content: center;
    align-items: center;

  .btn
    color: #8D8D8D
    margin-top: 24px
    width: calc(31% + 110px)

.title-container
  text-align: center
  margin-bottom: 46px

  .explore
    margin-bottom: 30px

.destinations
  >.btn
    margin-top: 16px

.subscription
  background: #F8E1DB
  border-radius: border-radius
  padding: 40px 20px
  box-shadow: shadow rgba(#3b3735 .05)
  @media (min-width: 800px)
    display: flex
    align-items: center
    justify-content: space-around
    flex-direction: row-reverse

  @media (max-width: 800px)
    text-align: center

  .tent
    width: 100%
    max-width: 467px

  .text
    background: #fff
    height 80px
    border-radius: border-radius
    padding: 0 20px
    box-shadow: shadow rgba(#3b3735 .05)

    .mail
      height: 18px
      margin-right: 10px

    input
      width: 100%
      font: 14px "Roboto", Arial

    .send
      background: primary-color
      border-radius: border-radius
      min-width 50px
      square 50px
      box-shadow: shadow rgba(#E76F51 .4)

  .description
    margin: 0 auto 26px
    max-width: 486px

footer
  background: #F8E1DB
  position: relative
  border-radius: calc(7vw + 70px) calc(7vw + 70px) 0 0
  padding: 100px 20px 0

  .wrapper
    +desktop()
      display: flex
      flex-flow: column wrap
      width: calc(65vw + 270px)

      .container
        display: flex
        justify-content: space-between
        >div 
          width: 50%
    
  .description
    max-width: 615px

  .footer-menu
    +mobile()
      flex-flow: row wrap
  
  .footer-menu-item
    width: 50%

  .mb
    margin-bottom: 52px

  h4
    margin-bottom: 26px

.scroll-top
  background: #fff
  border-radius: border-radius
  square 60px
  position: absolute
  top: -30px
  right: 50%
  transform: translateX(50%)
  box-shadow: 5px 10px 30px rgba(#3B3735, .05)
  @media (min-width: 800px)
    right: 12vw


.copy
  text-align: center
